@model ImageEdit.Models.PhotosDetailsViewModel


@{
    ViewBag.Title = "Details";
}


<div>
    <hr />
            <img src="../../Jpeg/@Model.Photo.ImagePath" alt="" class="imageDetail center"/>



       
</div>
<p class="center">

    @Html.DisplayFor(model => model.Category.CategoryType)
</p>
<p class="center">
    @Html.ActionLink("Back to List", "MyPics")
    @Html.ActionLink(" | Delete", "RemovePhoto", new { id = Model.Photo.Id })
</p>
